@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Open+Sans:wght@400;500;600&family=Outfit:wght@300;400;600&family=Poppins:wght@500;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  /* padding: 0 2%; */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* border: solid black thin; */
  /* font-family: ; */
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
}

header {
  width: 100%;
  background: url(../images/maxim-tolchinskiy-ectRUZRYrYk-unsplash.jpg);
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-content {
  color: #fff;
  padding: 32px 70px 10px;
  height: 285px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navs {
  list-style-type: none;
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  border-bottom: none;
}

.nav__btns::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(228, 182, 228);
  transition: width .3s;
}

.nav__btns:hover::after {
  width: 100%;
}

select {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.lang {
  background-color: #474646;
  color: #fff;
}

.navs a {
  text-decoration: none;
  color: #fff;
  line-height: 27px;
}

.des {
  width: 70%;
  position: relative;
  bottom: 35px;
  left: 15.5%;
}

.lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;
}

.duration {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: end;
}

.course_info {
  align-content: flex-end;
}
.main {
  max-width: 1240px;
}
.main-wrapper {
  padding: 91px 0px 0px;
}

.career__text {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
}

.career-description {
  margin-bottom: 50px;
}

.description-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #474646;
}

.course {
  margin-bottom: 179px;
}

.course_content_heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.course_content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #474646;
  margin-left: 25px;
}

.sponsor {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.underline {
  width: 180px;
}

.sponsor_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor_heading {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}

.s_heading div {
  text-align: center;
  justify-content: center;
}
.sponsor_name {
  width: 100%;
  height: 50%;
}

footer {
  background-color: #474646;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.footer__container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

footer a {
  text-decoration: none;
}

.logo2 {
  width: 350px;
}

.info__title {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  padding-left: 4px;
}

.info__text {
  color: #fff;
  font-size: 18px;
}

.logo__bottom {
  font-size: 55px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 85px;
}

.additional_info {
  color: #a5a5a5;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.company_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  margin-top: 20px;
}

.email {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 24px;
  padding-left: 4px;
}

.media {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.exiting_info {
  width: 100%;
  max-width: 1240px;
  color: #a5a5a5;
  margin-bottom: 63px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
